.book {
  max-width: 300px;
  margin: 20px;
  border: 1px solid grey;
}

#edition {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

.edition {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  max-width: 200px;
}

#librariesDiv {
  display: flex;
  justify-content: space-around;
  border: 1px solid red;
}

.library {
  display: inline-block;
  border: 1px solid blue;
  padding: 5px;
  margin: 10px;
  width: 30%;
}

.information {
  border: 1px dotted grey;
  display: inline-block;
  margin: 20px;
}
